{% extends "gentelella/production/plain_page.html" %}
{% load staticfiles %}
{% load extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
  {% block cabecera %}  
 
    <link rel="stylesheet" href="{% static 'contact-form/css/datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact-form/css/datepicker3.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact-form/css/sb-admin-2.css' %}">
    <link rel="stylesheet" href="{% static 'contact-form/css/style.css' %}" type="text/css">
   {% endblock%}  
    
  </head> 


 <body>
  {%block contenido %}

    <div class="container_fluid">
        <div class="container page-header">
            <div class="col-md-4">
                <img src="{% static 'logo.png' %}" width="120" height="120">
            </div>
            <div class="col-md-8" "col-sm-8" "col-xs-8" align="right">
                <h1>Montebello Academy</h>
                <h3>Fechas de Tours</h>
            </div>
        </div>
        
       <div class="well  col-md-12"  >
            <div class="container">
            
                <div class = "col-md-12" "col-sm-12" "col-xs-12">
                    <fieldset class="panel panel-primary">
                        <!-- Form Name -->
                        <div class="panel-heading">FECHAS DE TOUR REGISTRADAS</div>
                        <div class="panel-body">  
                           <!-- <form class="col-md-12" action="/admisiones/MantenerTipoTour" method="post"  > -->
                               {{debug}}  
                                
                                {% if fechas %}
                                            <div class="table-responsive">
                                             <div style="height:150px;overflow:auto;">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                           
                                                            <th></th>
                                                            <th></th>
                                                            <th>Tour</th>
                                                            <th>Fecha</th>
                                                            <th>Número Asistentes</th>
                                                            <th>Estado</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for fechas in fechas %}
                                                            <tr>
                                                                <!--<td><span class="pull-left"><a href="/admisiones/NuevoTipoTour/{{fechas.id_typetour}}/" class="icon-block"><i class="fa fa-book"></i></a></span></td>-->
                                                                <td><span class="pull-left"><a href="/admisiones/EditaTipoTour/{{fechas.id_typetour}}/" class="icon-block"><i class="fa fa-pencil"></i></a></span></td>
                                                                <td><span class="pull-left"><a href="/admisiones/EliminaTipoTour/{{fechas.id_typetour}}/" class="icon-block"><i class="fa fa-trash"></i></a></span></td>
                                                                <td>{{fechas.name_tour}}</td>
                                                                <td>{{fechas.date_tour|date:"Y-m-d"}}</td>
                                                                <td>{{fechas.quota}}</td>
                                                                <td>{%if fechas.state  %}Activo {%else%}Inactivo{%endif%} </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                               </div>
                                            </div>
                                        {% else %}
                                            No se han registrado fechas de Tours.
                                        {% endif %} 
                               
                            <!--</form> -->              
                        </div>
                    </fieldset>
                </div>
                
                    <div class = "col-md-12" "col-sm-12" "col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">NUEVA FECHA DE TOUR</div>
                                <div class="panel-body"> 
                                    <form class="form-horizontal col-md-12" formaction="/admisiones/MantenerTipoTour/" method="post">
                                        {% csrf_token %}  
                                        {{debug}}
                                      
                                       
                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Fecha Tour:</label>  
                                                <div class="col-md-3 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i style="width:20px" class="fa fa-calendar"></i></span>
                                                    {{form.date_tour|add_attributes:"form-control datepicker"}} 
                                                </div>
                                                  {%if form.errors.date_tour%}
                                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.date_tour}}</small>
                                                {%endif%}
                                                </div>
                                            </div>
                                        
                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Cupo:</label>  
                                                <div class="col-md-3 inputGroupContainer ">
                                                <div class="input-group input-append ">
                                                    <span class="input-group-addon add-on"><i style="width:20px" class="fa fa-user"></i></span>
                                                    {{form.quota|add_attributes:"form-control,placeholder:Cupo Asignado"}}
                                                </div>
                                                 {%if form.errors.quota%}
                                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.quota}}</small>
                                                {%endif%}
                                                </div>
                                            </div>
                                       
                                         
                                             <!-- Button -->
                                            <div class="form-group">
                                              <label class="col-md-5 control-label"></label>
                                                <button type="submit" class="btn btn-warning" style="margin-top: 10px"  >Crear <span class="glyphicon glyphicon-ok"></span></button>
                                                 <a href="/admisiones/Inicio/" class="btn btn-warning" style="margin-top: 10px" >Cancelar <span class="glyphicon glyphicon-stop"></span></a>
                                            </div>
                                    </form> 
                                   
                                </div>
                        </div>
                    </div>
                 
            </div>
            
        </div>  
            
    </div><!-- /.container -->

    {% block scripts %}
    <script src="{% static 'contact-form/js/modernizr.js' %}" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
    <script src="{% static 'contact-form/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'contact-form/js/bootstrapvalidator.min.js'%}"></script>
    <script src="{% static 'contact-form/js/bootstrap-datepicker.min.js'%}"></script>
    <script src="{% static 'contact-form/js/index.js'%}"></script>
    
    <script>
      $(function() {
        $("#id_q_aplicante").autocomplete({
          source: "/admisiones/ListaAplicantes/",
          minLength: 2,
        });
      });
    </script>
      {% endblock %}
      {% endblock %}
   
   
  
</body>
</html>