{% extends "gentelella/production/plain_page.html" %}
{% load staticfiles %}
{% load extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

     {% block cabecera %}  
 
    <link rel="stylesheet" href="{% static 'contact-form/css/datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact-form/css/datepicker3.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact-form/css/sb-admin-2.css' %}">
    <link rel="stylesheet" href="{% static 'contact-form/css/style.css' %}" type="text/css">
    {% endblock%} 

  </head> 


 <body>
 {%block contenido %}
<div class="container_fluid">
          
    
    <div class="container">
           <div class="container page-header">
            <div class="col-md-4">
                <img src="{% static 'logo.png' %}" width="120" height="120">
            </div>
            <div class="col-md-8" "col-sm-8" "col-xs-8" align="right">
                <h1>Montebello Academy</h>
                <h3>Modificar Fecha de Evaluaciones</h>
            </div>
            </div>
    <div class="well col-md-12">                  
            <div class="row">    
                <div class = "col-md-12" "col-sm-12" "col-xs-12">
                    <fieldset class="panel panel-primary">
                            <div class="panel-heading">SELECCIONE FECHA DE EVALUACIÓN</div>
                             <div class="panel-body">
                            <form class="form-horizontal col-md-12" action="/admisiones/SeleccionaFecha/{{id_applications}}/" method="post">
                                {% csrf_token %} 
                                {% if fechas %}
                                <div class="table-responsive">
                                 <div style="height:150px;overflow:auto;">
                                    <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Fecha</th>
                                                        <th>Nivel/Grado</th>
                                                        <th>Responsable</th>
                                                        <th>Hora</th>
                                                        <th>Tipo</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for fechas in fechas %}
                                                        <tr>
                                                            <!--<td><span class="pull-left"><a href="/admisiones/AceptaTipoTest/{{fechas.id_typetest}}/" class="icon-block"><i class="fa fa-check"></i></a></span></td>-->
                                                            <!--<td><span class="pull-left"><a href="/admisiones/CancelaTipoTest/{{fechas.id_typetest}}/" class="icon-block"><i class="fa fa-close"></i></a></span></td>-->
                                                            <td><input name="seleccion" type="radio" value="{{fechas.id_typetest}}" ></td>
                                                            <td>{{fechas.date_test|date:"Y-m-d"}}</td>
                                                            <td>{{fechas.grade}}</td>
                                                            <td>{{fechas.teacher}}</td>
                                                            <td>{{fechas.time_test}}</td>
                                                            <td>{{fechas.type_test}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                    </table>
                                </div>
                                </div>
                                {% else %}
                                    No se han registrado fechas de Evaluaciones.
                                {% endif %} 
                                   
                                    
                                   
                                                 <!-- Button -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label"></label>
                                                <button type="submit" name='submit' class="btn btn-warning" style="margin-top: 10px" >Actualizar <span class="glyphicon glyphicon-ok"></span></button>
                                                <button type="cancel" class="btn btn-warning" style="margin-top: 10px" formaction="/admisiones/Administracion/" method="get"  >Regresar <span class="glyphicon glyphicon-stop"></span></button>
                                                <a href="/admisiones/TipoTest/{{id_applications}}/" class="btn btn-warning" style="margin-top: 10px" >Nuevas Fechas <span class="glyphicon glyphicon-list"></span></a>
                                        </div> 
                                    </form> 
                            </div>
                           
                              
                    </fieldset>
                </div> 
            </div> 
        
          </div><!-- /.container -->
    </div>
</div>
{% block scripts %}
<script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
<script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<script src="{% static 'contact-form/js/index.js'%}"></script>

{% endblock %}
      {% endblock %}  
    
</body>
</html>