{{request.user.get_full_name}}
<form method="post" action="/user/{{request.user.pk}}/">
{% csrf_token %}
<input name ="old_password" type="password" class="form-control" placeholder="Contraseña anterior" required="" />
<input name ="new_password" type="password" class="form-control" placeholder="Contraseña nueva" required="" />
<input name ="new_password_2" type="password" class="form-control" placeholder="Repita la contraseña nueva" required="" />

<input type="submit" class="btn btn-default Cambiar contraseña" action="" />