{% extends "gentelella/production/plain_page.html" %}
{% load staticfiles %}
{% load extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
 {% block cabecera %}  
    
    <link rel="stylesheet" href="{% static 'contact-form/css/datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact-form/css/datepicker3.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact-form/css/sb-admin-2.css' %}">
    <link rel="stylesheet" href="{% static 'contact-form/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'contact-form/css/tabla.css' %}">

   

  {% endblock%}  
  
  </head> 


 <body>
 {%block contenido %}
    <div class="container_fluid">
        <div class="container page-header">
            <div class="col-md-4">
                <img src="{% static 'logo.png' %}" width="120" height="120">
            </div>
            <div class="col-md-8" "col-sm-8" "col-xs-8" align="right">
                <h1>Montebello Academy</h>
                <h3>Administración de Solicitudes</h>
            </div>
        </div>
        
        <form class="well form-horizontal col-md-12"  > 
            <div class="container">
            
                <div class = "col-md-12" "col-sm-12" "col-xs-12">
                    <fieldset class="panel panel-primary">
                        <!-- Form Name -->
                        <div class="panel-heading">PARÁMETROS DE CONSULTA</div>
                        <div class="panel-body">  
                            <form class="col-md-12" action="/admisiones/Administracion" method="get"  >                        
                                <div class="row">                                 

                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <label class="col-md-1 control-label" for="id_aplicante">Aplicante:</label>  
                                        <div class="col-md-5 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user" style="width:20px"></i></span>
                                                <input type="text" class ="form-control" name="q_aplicante" id="id_q_aplicante" >
                                            </div>
                                        </div>

                                        <label class="col-md-1 control-label" for="id_estado">Estado:</label>  
                                        <div class="col-md-2 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-tablet" style="width:20px"></i></span>
                                                <!--<input type="text" class ="form-control" name="q_estado" id="id_q_estado">-->
                                                <select class="form-control selectpicker" id="id_q_state" name="q_estado">
                                                    <option value="" selected="selected">---------</option>
                                                    
                                                    {% for x in estados %}
                                                    <option value="{{ x }}">{{ x }}</option>
                                                    {% endfor %}
                                                    
                                                </select>

                                            </div>
                                        </div>

                                        <label class="col-md-1 control-label" for="id_estado">F. Tour:</label>  
                                        <div class="col-md-2 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-calendar" style="width:20px"></i></span>
                                                <!--<input type="text" class ="form-control" name="q_estado" id="id_q_estado">-->
                                                <select class="form-control selectpicker" id="id_q_fecha" name="q_fecha">
                                                    <option value="" selected="selected">---------</option>
                                                    
                                                    {% for x in fechas %}
                                                    <option value="{{ x }}">{{ x }}</option>
                                                    {% endfor %}
                                                    
                                                </select>

                                            </div>
                                        </div>
                                        <label class="col-md-1 control-label" for="id_estado">F. Evaluación:</label>  
                                        <div class="col-md-2 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-calendar" style="width:20px"></i></span>
                                                <!--<input type="text" class ="form-control" name="q_estado" id="id_q_estado">-->
                                                <select class="form-control selectpicker" id="id_q_fechat" name="q_fechat">
                                                    <option value="" selected="selected">---------</option>
                                                    
                                                    {% for x in fechast %}
                                                    <option value="{{ x }}">{{ x }}</option>
                                                    {% endfor %}
                                                    
                                                </select>

                                            </div>
                                        </div>
                                        <label class="col-md-1 control-label" for="id_estado">Grado:</label>  
                                        <div class="col-md-2 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-list" style="width:20px"></i></span>
                                                <!--<input type="text" class ="form-control" name="q_grado" id="id_q_grado">-->
                                                <select class="form-control selectpicker" id="id_q_grado" name="q_grado">
                                                    <option value="" selected="selected">---------</option>
                                                    
                                                    {% for x in grados %}
                                                    <option value="{{ x }}">{{ x }}</option>
                                                    {% endfor %}
                                                    
                                                </select>
                                            </div>
                                        </div>
                                          <label class="col-md-1 control-label" for="id_estado">Período Lectivo:</label>  
                                        <div class="col-md-2 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-list" style="width:20px"></i></span>
                                                <!--<input type="text" class ="form-control" name="q_grado" id="id_q_grado">-->
                                                <select class="form-control selectpicker" id="id_q_school_period" name="q_school_period">
                                                    <option value="" selected="selected">---------</option>
                                                    
                                                    {% for x in periodo_lectivo %}
                                                    <option value="{{ x }}">{{ x }}</option>
                                                    {% endfor %}
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-5"></div>
                                        <div class="col-md-4">
                                            <button type="submit" name='submit' class="btn btn-warning" style="margin-top: 10px" >Buscar <span class="glyphicon glyphicon-search"></span></button>
                                            <!--<a href="/admisiones/Inicio/" class="btn btn-warning" style="margin-top: 10px" >Cancelar <span class="glyphicon glyphicon-stop"></span></a>-->
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div> 
                          
                                  
                            </form>               
                        </div>
                    </fieldset>
                </div>

                <!--<div class = "col-md-12 col-sm-12 col-xs-12">
                    <fieldset class="panel panel-primary">
                        <div class="panel-heading">APLICANTES</div>
                            <div class="panel-body"> -->

                                <!--<div class="table-responsive">-->
                                    <!--<div style="width: 1500px;height:300px">-->
                                        <!--<div class="fixedHeaderTable" > ;overflow:auto-->
                                <div class="container col-md-12 col-sm-12 col-xs-12">
                                  <div class= "row">
                                      <div class="panel panel-primary">
                                        <div class="panel-heading">APLICANTES</div>   
                                            <div class="panel-body">
                                            <table class="sortable table"> <!--table table-hover header">-->
                                           
                                                <thead>
                                             
                                                  <tr>
                                                    <!--<th class="col-md-0 col-sm-0 col-xs-0"></th>-->
                                                    <th class="col-md-0 col-sm-0 col-xs-0"></th>
                                                    <th class="col-md-0 col-sm-0 col-xs-0"></th>
                                                    <th class="col-md-1 col-sm-1 col-xs-1">Apellidos y Nombres</th>
                                                    <th class="col-md-1 col-sm-1 col-xs-1">Grado</th>
                                                    <th class="col-md-1 col-sm-1 col-xs-1">Año Lectivo</th>
                                                    <th class="col-md-1 col-sm-1 col-xs-1">Fecha</th>
                                                    <th class="col-md-1 col-sm-1 col-xs-1">Tipo</th>
                                                    <th class="col-md-1 col-sm-1 col-xs-1">Fecha Tour</th>
                                                    <th class="col-md-1 col-sm-1 col-xs-1">Cupos (Existente / Aplicados)</th>
                                                    <th class="col-md-1 col-sm-1 col-xs-1">Documentos</th>
                                                    <th class="col-md-1 col-sm-1 col-xs-1">Pago Evaluaciones</th>
                                                    <th class="col-md-1 col-sm-1 col-xs-1">Fecha Evaluaciones</th>
                                                    <th class="col-md-1 col-sm-1 col-xs-1">Fecha Resultados</th>
                                                    <th class="col-md-1 col-sm-1 col-xs-1">Resultados Evaluaciones</th>
                                                    <th class="col-md-1 col-sm-1 col-xs-1">Estados Solicitud</th>
                                                  </tr>
                                                   
                                                </thead>
                                              
                                                
                                                <tbody  >
                                             
                                                    {% for aplicantes in aplicantes %}
                                                    
                                                      <!--style="width:4%"-->
                                                      <tr> 
                                                       <!-- <td class="col-xs-0"><span class="pull-left"><a class="icon-block"><i class="fa fa-inbox"></i></a></span></td>-->
                                                        <td class="col-xs-0"><span class="pull-left"><a href="/admisiones/EditarSolicitud/{{aplicantes.id_applications}}/" class="icon-block"><i class="fa fa-pencil"></i></a></span></td>
                                                        <td class="col-xs-0"><span class="pull-left"><a href="/admisiones/EliminaAplicacion/{{aplicantes.id_applications}}/" class="icon-block"><i class="fa fa-trash"></i></a></span></td>
                                                        <td class="col-xs-1">{{aplicantes.surname_student}} {{aplicantes.name_student}}</td>
                                                        <td class="col-xs-1">{{aplicantes.grade}}</td>
                                                        <td class="col-xs-1">{{aplicantes.school_period}}</td>
                                                        <td class="col-xs-1">{{aplicantes.date_application|date:"Y-m-d"}}</td>
                                                        <td class="col-xs-1"><a href="/admisiones/EditarTipoAplicante/{{aplicantes.id_applications}}/">{% ifequal aplicantes.type_student 'NEW'  %} Nuevo {%else%} Hermanos {%endifequal%}</a></td>
                                                        <td class="col-xs-1"><a style="color: rgb(0,0,255)" HREF="/admisiones/EditarFechaTour/{{aplicantes.id_applications}}/" width="241"  height="200" >
                                                                    
                                                                   {%if not aplicantes.fecha_tour %}Otra Fecha {%else%}{{aplicantes.fecha_tour|date:"Y-m-d"}}{%endif%}</a></td>
                                                        <td class="col-xs-1">{%if not aplicantes.cuota %}No Existe {%else%}{{aplicantes.cuota}}{%endif%} / {% for x in aplicado %}
                                                                    {% ifequal x.applied_grade aplicantes.applied_grade %}
                                                                        {%if not x.applied_grade__count %}No Existe {%else%}{{x.applied_grade__count}}{%endif%}
                                                                    {% endifequal %}
                                                                  
                                                                  {% endfor %}</td>
                                                        <!--<td class="col-xs-1"> {% for x in aplicado %}
                                                                    {% ifequal x.applied_grade aplicantes.applied_grade %}
                                                                        {%if not x.applied_grade__count %}No Existe {%else%}{{x.applied_grade__count}}{%endif%}
                                                                    {% endifequal %}
                                                                  
                                                                  {% endfor %}
                                                            </td>-->
                                                        <td class="col-xs-1">{% for x in documentos %}{% ifequal aplicantes.applied_grade x.grade %}{{x.grade__count}}{%endifequal%}{%endfor%} / {{aplicantes.det_documents_set.all|length}} / {%for x in validados%}{%ifequal aplicantes.id_applications x.id_applications__pk %}{{x.id_applications__count}}{%else%}{%endifequal%}{%endfor%} </td>
                                                        <td class="col-xs-1">{% ifequal aplicantes.pago 1%} Si  {%else%}No{%endifequal%}</td>
                                                        <td class="col-xs-1"><a style="color: rgb(0,0,255)" HREF="/admisiones/SeleccionaFecha/{{aplicantes.id_applications}}/" {{aplicantes.fecha_pruebas|date:"Y-m-d"}}> {%if not aplicantes.fecha_pruebas %}------ {%else%}{{aplicantes.fecha_pruebas|date:"Y-m-d"}}{%endif%}</a></td>
                                                        <td class="col-xs-1">{% if not aplicantes.fecha_resultados|date:"Y-m-d" %}------  {%else%}{{aplicantes.fecha_resultados|date:"Y-m-d"}}{%endif%}</td>
                                                        <td class="col-xs-1">{% if not aplicantes.resultado%}------  {%else%}{{aplicantes.resultado}}{%endif%} </td>
                                                        <td class="col-xs-1"><a style="color: rgb(0,0,255)" HREF="/admisiones/CambiaEstados/{{aplicantes.id_applications}}/" >{{aplicantes.estado_solicitud}}</a></td>
                                                        
                                                      </tr>
                                                    {% endfor %}
                                                   
                                                </tbody>
                                                
                                            </table>
                                        </div>
                                    </div>
                                   
                             
                           
                    <!--</fieldset>-->
                </div>
                
            </div>
            
        </form>    
            
    </div><!-- /.container -->
    
    {% block scripts %}
    
    <script src="{% static 'contact-form/js/modernizr.js' %}" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
    <script src="{% static 'contact-form/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'contact-form/js/bootstrapvalidator.min.js'%}"></script>
    <script src="{% static 'contact-form/js/bootstrap-datepicker.min.js'%}"></script>
    <script src="{% static 'contact-form/js/index.js'%}"></script>
    
    <script>
      $(function() {
        $("#id_q_aplicante").autocomplete({
          source: "/admisiones/ListaAplicantes/",
          minLength: 2,
        });
      });
    </script>
    
    <script type ="text/javascript">
    
    function MM_openBrWindow(theURL,winName,features){
       window.open(theURL,winName,features);
    }    
    </script>
 
   {% endblock %}
   {% endblock %}
</body>
</html>
