{% extends "gentelella/production/plain_page.html" %}
{% load staticfiles %}
{% load extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% block cabecera %}  
    
    <link rel="stylesheet" href="{% static 'contact-form/css/datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact-form/css/datepicker3.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact-form/css/sb-admin-2.css' %}">
    <link rel="stylesheet" href="{% static 'contact-form/css/style.css' %}" type="text/css">

     {% endblock%}  

    
 </head> 


 <body>
{%block contenido %}
    <div class="container_fluid ">
        <div class="container page-header">
            <div class="col-md-4">
                <img src="{% static 'logo.png' %}" width="120" height="120">
            </div>
            <div class="col-md-8" "col-sm-8" "col-xs-8" align="right">
                <h1>Montebello Academy</h>
                <h3>Formulario Datos del Estudiante</h>
            </div>
        </div>
    <div class=" well form-horizontal col-md-12" >
        <form class="  form-horizontal col-md-12" action="/admisiones/EditaFormulario/" method="get" >
        {{debug}}
            <div class="container">
            <div class = "col-md-12" "col-sm-12" "col-xs-12">
                    <fieldset class="panel panel-primary">
                        
                        <div class="panel-heading">PARÁMETROS DE CONSULTA</div>
                        <div class="panel-body">
                        <div class="row"> 
                            <!-- Text input-->
                            <div class="form-group col-md-9 col-sm-9 col-xs-9">
                                <label class="col-md-3 control-label" for="id_estudiante">Nombres / Apellidos:</label>  
                                <div class="col-md-6 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user" style="width:20px"></i></span>
                                        <input type="text" class ="form-control" name="q_estudiante" id="id_q_estudiante" value='{{aplicante}}' >
                                    </div>
                                </div>
                            </div>
                        
                            
                                <div class="form-group">
                                  <div class="col-md-2">
                                   <button type="submit" name='submit' class="btn btn-warning" style="margin-top: 10px" >Buscar <span class="glyphicon glyphicon-search"></span></button>
                                  </div>
                                </div>
                            </div> 
                        </div>
                        </fieldset>
                    </div>
                </div>
        </form>

        <form class=" form-horizontal col-md-12" action="/admisiones/EditaFormularioGuarda/" method="post" >
        {% csrf_token %}
     
            <div class="container">
                <div class "col-md-12">

                    {% if form.non_field_errors %}
                        <fieldset>
                        <legend class="panel-heading">
                            <strong data-bv-validator="notEmpty" class="help-block" style="color:red">Ya existe un registro con estos datos</strong>
                        </legend>
                        </fieldset>
                    {% endif %}
                </div>
              
                <div class = "col-md-12" "col-sm-12" "col-xs-12">
                    <fieldset class="panel panel-primary">
                        <!-- Form Name -->
                        <div class="panel-heading">DATOS ESTUDIANTE</div>
                        <div class="panel-body">
                    
                        {{form.errors.date_form}}
                        {{form.errors.id_application_id}}
                 
                           <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label">Número Identificación:</label>  
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-credit-card"></i></span>
                                        {{form.identity_student|add_attributes:"form-control,placeholder:Número Identificación"}}

                                    </div>
                                   
                                </div>
                                
                                 <label class="col-md-2 control-label">Dirección:</label>  
                                <div class="col-md-4 inputGroupContainer ">
                                <div class="input-group input-append ">
                                    <span class="input-group-addon add-on"><i style="width:20px" class="fa fa-files-o"></i></span>
                                    {{form.address_student|add_attributes:"form-control "}} 
                                </div>
                                 {%if form.errors.address_student%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.address_student}}</small>
                                {%endif%}
                                </div>
                                
                                
                            </div>
                            
                            
                          
                             <!-- Select input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label">Nombres:</label>  
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-user"></i></span>
                                        {{form.name_student|add_attributes:"form-control,placeholder:Nombres completos"}}

                                    </div>
                                    {%if form.errors.name_student%}
                                        <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.name_student}}</small>
                                    {%endif%}
                                </div>
                                 <label class="col-md-2 control-label">País Nacimiento:</label>  
                                <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                <span class="input-group-addon"><i style="width:20px" class="fa fa-globe"></i></span>
                                 {{form.birth_country|add_attributes:"form-control selectpicker"}}
                                </div>
                                 {%if form.errors.birth_country%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.birth_country}}</small>
                                {%endif%}
                                </div>
                              
                            </div>
                            
                            <!-- Select input-->
                            <div class="form-group">     <label class="col-md-2 control-label">Apellidos:</label>  
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-user" ></i></span>
                                        {{form.surname_student|add_attributes:"form-control,placeholder:Apellidos completos"}}
                                    </div>
                                     {%if form.errors.surname_student%}
                                        <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.surname_student}}</small>
                                    {%endif%}
                                </div>
                                <label class="col-md-2 control-label">País Residencia:</label>  
                                <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                <span class="input-group-addon"><i style="width:20px" class="fa fa-globe"></i></span>
                                 {{form.country_home|add_attributes:"form-control selectpicker"}}
                                </div>
                                 {%if form.errors.country_home%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.country_home}}</small>
                                {%endif%}
                                </div>
                               
                            </div>
                             <!-- Text input-->
                            <div class="form-group">
                            
                                <label class="col-md-2 control-label">Genero:</label>  
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-user"></i></span>
                                        {{form.gender_student|add_attributes:"form-control selectpicker"}}
                                    </div>
                                      {%if form.errors.gender_student%}
                                        <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.gender_student}}</small>
                                    {%endif%}
                                </div>
                                 <label class="col-md-2 control-label">Grado que Aplica:</label>  
                                <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                <span class="input-group-addon"><i style="width:20px" class="glyphicon glyphicon-list"></i></span>
                                {{form.applied_grade|add_attributes:"form-control selectpicker"}}
                                </div>
                                {%if form.errors.applied_grade%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.applied_grade}}</small>
                                {%endif%}
                                </div>
                             
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                             
                                 <label class="col-md-2 control-label">Fecha Nacimiento:</label>  
                                <div class="col-md-4 inputGroupContainer date">
                                    <div class="input-group input-append date">
                                        <span class="input-group-addon add-on"><i style="width:20px" class="fa fa-calendar"></i></span>
                                        {{form.birth_date|add_attributes:"form-control datepicker"}} 
                                    </div>
                                     {%if form.errors.birth_date%}
                                        <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.birth_date}}</small>
                                    {%endif%}
                                </div>
                                
                             <label class="col-md-2 control-label">Información Médica:</label>  
                                <div class="col-md-4 inputGroupContainer ">
                                <div class="input-group input-append ">
                                    <span class="input-group-addon add-on"><i style="width:20px" class="fa fa-heart"></i></span>
                                    {{form.medical_information|add_attributes:"form-control "}} 
                                </div>
                                 {%if form.errors.medical_information%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.medical_information}}</small>
                                {%endif%}
                                </div>   
                           
                                
                               
                            </div>
                             
                        </div>
                    </fieldset>
                </div>
          
                <div class = "col-md-6" "col-sm-6" "col-xs-6">
                    <fieldset class="panel panel-primary">
                        <div class="panel-heading">DATOS DEL PAPÁ</div>
                            <div class="panel-body">
                                 
                                 
                                 <!-- Text input-->
                                 <div class="form-group">
                                    <label class="col-md-4 control-label">Número Identificación:</label>  
                                    <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-credit-card"></i></span>
                                        {{form.identity_father|add_attributes:"form-control,placeholder:Número Identificación"}}
                                    </div>
                                    {%if form.errors.identity_father%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.identity_father}}</small>
                                {%endif%}
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nombres:</label>  
                                    <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-user"></i></span>
                                        {{form.name_father|add_attributes:"form-control,placeholder:Nombres completos"}}
                                    </div>
                                     {%if form.errors.name_father%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.name_father}}</small>
                                {%endif%}
                                    </div>
                                </div>
                            
                                                
                            
                            
                                <!-- Text input-->
                                 <div class="form-group">
                                    <label class="col-md-4 control-label">Apellidos:</label>  
                                    <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-user"></i></span>
                                        {{form.surname_father|add_attributes:"form-control,placeholder:Apellidos completos"}}
                                    </div>
                                    {%if form.errors.surname_father%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.surname_father}}</small>
                                {%endif%}
                                    </div>
                                </div>
            
                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-md-4 control-label">Correo Electrónico:</label>  
                                    <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-envelope"></i></span>
                                        {{form.mail_father|add_attributes:"form-control,placeholder:Dirección de correo electrónico"}}
                                    </div>
                                     {%if form.errors.mail_father%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.mail_father}}</small>
                                {%endif%}
                                  </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-md-4 control-label">Teléfono Fijo:</label>  
                                    <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-phone"></i></span>
                                        {{form.phone_father|add_attributes:"form-control, placeholder:Ejemplo 022345678"}}
                                    </div>
                                     {%if form.errors.phone_father%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.phone_father}}</small>
                                {%endif%}
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-md-4 control-label">Teléfono Móvil:</label>  
                                    <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-mobile"></i></span>
                                        {{form.cell_father|add_attributes:"form-control,placeholder:Ejemplo 0990909090"}}

                                    </div>
                                     {%if form.errors.cell_father%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.cell_father}}</small>
                                {%endif%}
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-md-4 control-label">Teléfono Oficina:</label>  
                                    <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-phone"></i></span>
                                        {{form.office_father|add_attributes:"form-control,placeholder:Ejemplo 022345678"}}

                                    </div>
                                     {%if form.errors.office_father%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.office_father}}</small>
                                {%endif%}
                                    </div>
                                </div>
                            </div>
                    </fieldset>
                </div>

                 <div class = "col-md-6" "col-sm-6" "col-xs-6">
                    <fieldset class="panel panel-primary">
                        <div class="panel-heading">DATOS DE LA MAMÁ</div>
                            <div class="panel-body">
                                 
                                 
                                 <!-- Text input-->
                                 <div class="form-group">
                                    <label class="col-md-4 control-label">Número Identificación:</label>  
                                    <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-credit-card"></i></span>
                                        {{form.identity_mother|add_attributes:"form-control,placeholder:Número Identificación"}}
                                    </div>
                                    {%if form.errors.identity_mother%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.identity_mother}}</small>
                                {%endif%}
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nombres:</label>  
                                    <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-user"></i></span>
                                        {{form.name_mother|add_attributes:"form-control,placeholder:Nombres completos"}}
                                    </div>
                                     {%if form.errors.name_mother%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.name_mother}}</small>
                                {%endif%}
                                    </div>
                                </div>
                            
                                                
                            
                            
                                <!-- Text input-->
                                 <div class="form-group">
                                    <label class="col-md-4 control-label">Apellidos:</label>  
                                    <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-user"></i></span>
                                        {{form.surname_mother|add_attributes:"form-control,placeholder:Apellidos completos"}}
                                    </div>
                                    {%if form.errors.surname_mother%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.surname_mother}}</small>
                                {%endif%}
                                    </div>
                                </div>
            
                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-md-4 control-label">Correo Electrónico:</label>  
                                    <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-envelope"></i></span>
                                        {{form.mail_mother|add_attributes:"form-control,placeholder:Dirección de correo electrónico"}}
                                    </div>
                                     {%if form.errors.mail_mother%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.mail_mother}}</small>
                                {%endif%}
                                  </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-md-4 control-label">Teléfono Fijo:</label>  
                                    <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-phone"></i></span>
                                        {{form.phone_mother|add_attributes:"form-control, placeholder:Ejemplo 022345678"}}
                                    </div>
                                     {%if form.errors.phone_mother%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.phone_mother}}</small>
                                {%endif%}
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-md-4 control-label">Teléfono Móvil:</label>  
                                    <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-mobile"></i></span>
                                        {{form.cell_mother|add_attributes:"form-control,placeholder:Ejemplo 0990909090"}}

                                    </div>
                                     {%if form.errors.cell_mother%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.cell_mother}}</small>
                                {%endif%}
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-md-4 control-label">Teléfono Oficina:</label>  
                                    <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-phone"></i></span>
                                        {{form.office_mother|add_attributes:"form-control,placeholder:Ejemplo 022345678"}}

                                    </div>
                                     {%if form.errors.office_mother%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.office_mother}}</small>
                                {%endif%}
                                    </div>
                                </div>
                            </div>
                    </fieldset>
                </div>
                <div class = "col-md-12" "col-sm-12" "col-xs-12">
                    <fieldset class="panel panel-primary">
                        <div class="panel-heading">DATOS DEL REPRESENTANTE</div>
                            <div class="panel-body">
                             
                             <!-- Text input-->
                                 
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Número de Identificación:</label>  
                                    <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-credit-card"></i></span>
                                        {{form.identity_tutor|add_attributes:"form-control,placeholder:Número Identificación"}}
                                    </div>
                                     {%if form.errors.identity_tutor%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.identity_tutor}}</small>
                                {%endif%}
                                    </div>
                                <label class="col-md-2 control-label">Correo Electrónico:</label>  
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i style="width:20px" class="fa fa-envelope"></i></span>
                                            {{form.mail_tutor|add_attributes:"form-control,placeholder:Dirección de correo electrónico"}}
                                        </div>
                                         {%if form.errors.mail_tutor%}
                                        <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.mail_tutor}}</small>
                                    {%endif%}
                                  </div>
                                   
                                </div>

                                <!-- Text input-->
                                 <div class="form-group">
                                     <label class="col-md-2 control-label">Nombres:</label>  
                                    <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-user"></i></span>
                                        {{form.name_tutor|add_attributes:"form-control,placeholder:Nombres completos"}}
                                    </div>
                                     {%if form.errors.name_tutor%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.name_tutor}}</small>
                                    {%endif%}
                                    </div>
                                                                      <label class="col-md-2 control-label">Teléfono Fijo:</label>  
                                    <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-phone"></i></span>
                                        {{form.phone_tutor|add_attributes:"form-control, placeholder:Ejemplo 022345678"}}
                                    </div>
                                     {%if form.errors.phone_tutor%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.phone_tutor}}</small>
                                {%endif%}
                                    </div>
                                   
                               
                                  
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                     <label class="col-md-2 control-label">Apellidos:</label>  
                                        <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i style="width:20px" class="fa fa-user"></i></span>
                                            {{form.surname_tutor|add_attributes:"form-control,placeholder:Apellidos completos"}}
                                        </div>
                                        {%if form.errors.surname_tutor%}
                                        <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.surname_tutor}}</small>
                                    {%endif%}
                                    </div>
                              
                                  <label class="col-md-2 control-label">Teléfono Móvil:</label>  
                                    <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-mobile"></i></span>
                                        {{form.cell_tutor|add_attributes:"form-control,placeholder:Ejemplo 0990909090"}}

                                    </div>
                                     {%if form.errors.cell_tutor%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.cell_tutor}}</small>
                                {%endif%}
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Dirección:</label>  
                                    <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-files-o"></i></span>
                                        {{form.address_tutor|add_attributes:"form-control,placeholder: Dirección"}}

                                    </div>
                                     {%if form.errors.address_tutor%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.address_tutor}}</small>
                                {%endif%}
                                    </div>
                                  <label class="col-md-2 control-label">Teléfono Oficina:</label>  
                                    <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i style="width:20px" class="fa fa-phone"></i></span>
                                        {{form.office_tutor|add_attributes:"form-control,placeholder:Ejemplo 022345678"}}

                                    </div>
                                     {%if form.errors.office_tutor%}
                                    <small data-bv-validator="notEmpty" class="help-block" style="">{{form.errors.office_tutor}}</small>
                                {%endif%}
                                    </div>
                               
                                  
                                </div>
                            </div>
                    </fieldset>
                </div>
                
             
                   
                    <!-- Button -->
                        <div class="form-group">
                          <label class="col-md-5 control-label"></label>
                          
                            <button type="submit" class="btn btn-warning" style="margin-top: 10px" >Actualizar <span class="glyphicon glyphicon-new-window"></span></button>
                            <a href="/admisiones/Inicio/" class="btn btn-warning" style="margin-top: 10px" >Cancelar <span class="glyphicon glyphicon-stop"></span></a>
                          
                        </div>
                    
                
            </div>
        </form>
    </div>
    </div><!-- /.container -->
{% block scripts %}
    <script src="{% static 'contact-form/js/modernizr.js' %}" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
    <script src="{% static 'contact-form/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'contact-form/js/bootstrapvalidator.min.js'%}"></script>
    <script src="{% static 'contact-form/js/bootstrap-datepicker.min.js'%}"></script>
    <script src="{% static 'contact-form/js/index.js'%}"></script>
    
    <script>
      $(function() {
        $("#id_q_estudiante").autocomplete({
          source: "/admisiones/ListaEstudiantes/",
          minLength: 2,
        });
      });
    </script>
 
 {% endblock %}
   {% endblock %}    
    
</body>
</html>