{% load staticfiles %}
{% load extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   

    <title>Administración - Montebello Academy</title>

    <script src="{% static 'contact-form/js/modernizr.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
    
    <link rel='stylesheet prefetch' href="{% static 'contact-form/css/bootstrap.min.css' %}">
    <link rel='stylesheet prefetch' href="{% static 'contact-form/css/bootstrap-theme.min.css' %}">
    <link rel='stylesheet prefetch' href="{% static 'contact-form/css/bootstrapValidator.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact-form/css/datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact-form/css/datepicker3.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact-form/css/sb-admin-2.css' %}">
    <link rel="stylesheet" href="{% static 'contact-form/css/style.css' %}" type="text/css">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">  
     <link rel="stylesheet" href="{% static 'contact-form/css/jquery-filestyle.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'contact-form/css/jquery-filestyle.css' %}" type="text/css">
    
    
</head> 
<body>
 
    <div class="container_fluid">
        <div class="container page-header">
            <div class="col-md-4">
                <img src="{% static 'logo.png' %}" width="120" height="120">
            </div>
            <div class="col-md-8" "col-sm-8" "col-xs-8" align="right">
                <h1>Montebello Academy</h>
                <h3>Cargar Documentación</h>
            </div>
        </div>
        
      
        <div class="well  col-md-12"  >    
            <div class="container">
            
                <div class = "col-md-8" "col-sm-8" "col-xs-8">
                    <fieldset class="panel panel-primary">
                      
                        <div class="panel-heading">LISTA DE DOCUMENTOS</div>
                        <div class="panel-body">  
                        <form class="form-horizontal col-md-12" action="/admisiones/CambiaDocumentos/{{aplicante.id_applications}}/" method="post" enctype=multipart/form-data>
                         {% csrf_token %}  
                                                                                         
                               {% if documentos %}
                            
                                  <p>
                                   Estimado representante de: <strong>{{aplicante.surname_student}} {{aplicante.name_student}}</strong>
                                   </br>
                                   Los siguientes documentos se encuentrar con errores, por favor vuelva a cargarlos. </br>
                                   Recuerde que los formatos de los archivos solo pueden (bmp,gif,jpg,jpeg,tif,tiff,png).
                                   </br>
                                   </p>
                                   
                                    
                                                                    
                                
                                
                                      {{path}}
                                      {% for x in form %} 
                                        <div class="form-group">
                                         {{x.errors}}
                                            <div class="col-sm-12">
                                         
                                              <div class="input-group" >
                                      
                                                {{x.id_doctype|add_attributes:"form-control,placeholder:tipo documento,hidden"}} {{x.fields.id_doctype.choices.x}} </br>
                                                {%for i in x.fields.id_doctype.choices %}
                                          
                                                {%if i.0 == x.id_doctype.value%}
                                                
                                                 <strong> {{i.1}} </strong> <p><strong>Observaciones:</strong> <td> {{x.observations.value}}</td></p>
                                                {%endif%}
                                                {%endfor%}
                                                {{x.id_detdoc|add_attributes:"form-control,placeholder: documento,hidden"}} 
                                               
                                              </div> 
                                                   
                                            </div>
                                        </div> 
                                     
                                        
                                         <div class="form-group">
                                            <div class="col-sm-12">
                                             <div class="input-group">
                                             
                                                <input type="file"  class="jfilestyle" data-buttonText="Seleccione el Archivo" id="{{x.file.id_for_label}}" name="{{x.file.html_name}}"  >
                                                
                                              </div> 
                                            </div>
                                        </div>  
                                        
                               
                                    {% endfor %}
                                
                                   

                                    {{form.management_form}}                                               
                                           
                                {% else %}
                                    No se han Parametrizado Tipos de Documentos para el grado seleccionado.
                                {% endif %}
                                
                               <!-- Button -->
                            <div class="form-group">
                                <div class="row"> 
                                    <label class="col-md-4 control-label"></label>
                                        <button type="submit" class="btn btn-warning" style="margin-top: 10px"  >Cargar <span class="glyphicon glyphicon-ok"></span></button>
                                        <a href="/admisiones/PaginaColegio/" class="btn btn-warning" style="margin-top: 10px" >Cancelar <span class="glyphicon glyphicon-stop"></span></a>
                                </div>
                            </div>   
                            
                        </form>
                            
                   
                        </div>
                    </fieldset>
                </div>                       
            </div>
        </div> 
    
    </div><!-- /.container -->

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
    <script src="{% static 'contact-form/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'contact-form/js/bootstrapvalidator.min.js'%}"></script>
    <script src="{% static 'contact-form/js/bootstrap-datepicker.min.js'%}"></script>
    <script src="{% static 'contact-form/js/index.js'%}"></script>
    <script src="{% static 'contact-form/js/file1.js'%}"></script>
   
   <script src="{% static 'contact-form/js/jquery-filestyle.js'%}"></script>
    <script src="{% static 'contact-form/js/jquery-filestyle.min.js'%}"></script>
    

</body>
</html>